{%- import_yaml "vmware/tools/defaults.yaml" as default_settings %}

{%- set distro_map = salt['grains.filter_by']({
      'Debian': {
        'services': [
          'open-vm-tools',
        ],
      },

      'Darwin': {
        'confdir':
          '/Library/Application Support/VMware Tools/',
      },

      'FreeBSD': {
        'confdir':
          '/usr/local/etc/vmware-tools/',
        'hookdir':
          '/usr/local/sbin/',
        'services': [
          'vmware-guestd',
          'vmware-kmod',
        ],
      },
    
      'Windows': {
        'packages': [],
        'confdir':
          [salt['environ.get']('ProgramFiles'), 'VMware', 'VMware Tools']|join('\\') ~ '\\',
        'hookdir':
          salt['environ.get']('SystemRoot') ~ '\\',
        'hooksuffix':
          '.bat',
        'services': [
          'VMware Tools',
        ],
      },
    
      'default': {},
    }) %}

{%- do default_settings.vmware.tools.update(distro_map) %}

{%- set vmware_tools_settings = salt['pillar.get'](
      'vmware:tools',
      default=default_settings.vmware.tools,
      merge=True,
    ) %}
