{% import_yaml "ssh/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Arch':    { 'packages': ['openssh'] },
    'Debian':  { 'packages': ['openssh-client'] },
    'Gentoo':  { 'packages': ['net-misc/openssh'] },
    'RedHat':  { 'packages': ['openssh'] },
    'Suse':    { 'packages': ['openssh'] },
    'default': {},
  }) %}

{% do default_settings.ssh.update(distro_map) %}

{% set ssh_settings = salt['pillar.get']('ssh',
  default=default_settings.ssh, merge=True) %}
