{% set hyperv_settings = salt['grains.filter_by']({
    'default': {
      'packages': None,
    },
  }, merge=salt['grains.filter_by']({
    'CentOS Linux-6': {
      'packages': ['hypervkvpd'],
    },
    'CentOS Linux-7': {
      'packages': ['hyperv-daemons'],
    },
  }, grain='osfinger', merge=salt['pillar.get']('hyperv:lookup')) %}
