{% import_yaml "nfs/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'client_packages': [ 'rpcbind', 'nfs-common', 'autofs', ],
                 'client_services': [ 'rpcbind', 'statd', 'autofs' ], },
    'FreeBSD': { 'client_services': [ 'rpcbind', 'nfsclient', 'lockd', 'statd', 'amd' ], },
    'RedHat':  { 'client_packages': [ 'rpcbind', 'nfs-utils', 'autofs', ], },
  }, merge=salt['pillar.get']('nfs:lookup')) %}

{% if grains['os_family'] == 'RedHat' %}
  {% set os_map = salt['grains.filter_by']({
      '7':       { 'client_services': [ 'rpcbind', 'nfs-lock', 'autofs', ], },
      'default': { 'client_services': [ 'rpcbind', 'nfslock', 'autofs', ], },
    }, grain='osmajorrelease') %}
{% endif %}

{% do default_settings.nfs.update(os_map) if os_map is defined %}

{% do default_settings.nfs.update(distro_map) %}

{% set nfs_settings = salt['pillar.get']('nfs', default=default_settings.nfs, merge=True) %}
