{% import_yaml "auditd/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'packages': [ 'auditd', ], },
    'RedHat':  { 'packages': [ 'audit', ], },
    'Suse':    { 'packages': [ 'audit', ], },
    'default': {},
  }, merge=salt['pillar.get']('auditd:lookup')) %}

{% do default_settings.auditd.update(distro_map) %}

{% set auditd_settings = salt['pillar.get']('auditd', default=default_settings.auditd, merge=True) %}
