{% set auditd = salt['grains.filter_by']({
    'FreeBSD': { 'packages': [],
                 'service':  'auditd', },
    'RedHat':  { 'packages': [ 'audit', ],
                 'service': 'auditd', },
  }, merge=salt['pillar.get']('auditd:lookup')) %}
