{% import_yaml "sshd/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Arch':    { 'packages': ['openssh'],
                 'Subsystem': ['sftp /usr/lib/openssh/sftp-server'] },
    'Debian':  { 'packages': ['openssh-server'],
                 'services': ['ssh'],
                 'Subsystem': ['sftp /usr/lib/openssh/sftp-server'] },
    'Gentoo':  { 'packages': ['net-misc/openssh'],
                 'Subsystem': ['sftp /usr/lib/openssh/sftp-server'] },
    'RedHat':  { 'packages': ['openssh-server'],
                 'Subsystem': ['sftp /usr/lib/openssh/sftp-server'] },
    'Suse':    { 'packages': ['openssh'],
                 'Subsystem': ['sftp /usr/lib/openssh/sftp-server'] },
    'default': {},
  }) %}

{% do default_settings.sshd.update(distro_map) %}

{% set sshd_settings = salt['pillar.get']('sshd',
  default=default_settings.sshd, merge=True) %}
