{% import_yaml "git/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Gentoo':   { 'packages': [ 'dev-vcs/git', ], },
    'Windows':  { 'packages': [ 'msysgit', ], },
  }, merge=salt['pillar.get']('git:lookup')) %}

{% do default_settings.git.update(distro_map) %}

{% set git_settings = salt['pillar.get']('git', default=default_settings.git, merge=True) %}
