{% import_yaml "rpcbind/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'FreeBSD': { 'packages': [], },
    'default': {},
  }, merge=salt['pillar.get']('rpcbind:lookup')) %}

{% do default_settings.rpcbind.update(distro_map) %}

{% set rpcbind_settings = salt['pillar.get']('rpcbind', default=default_settings.rpcbind, merge=True) %}
