{% import_yaml "clamav/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'FreeBSD': { 'packages': [ 'clamav', ],
                 'services': [ 'clamav-clamd', 'clamav-freshclam', ],
                 'dbdir': '/var/db/clamav',
                 'clamd_conf': '/usr/local/etc/clamd.conf',
                 'freshclam_conf': '/usr/local/etc/freshclam.conf',
                 'clamd': {
                   'LogFile': '/var/log/clamav/clamd.log',
                   'PidFile': '/var/run/clamav/clamd.pid',
                   'DatabaseDirectory': '/var/db/clamav',
                   'LocalSocket': '/var/run/clamav/clamd.sock',
                   'FixStaleSocket': 'yes',
                   'User': 'clamav',
                   'AllowSupplementaryGroups': 'yes',
                   'ScanMail': 'yes',
                 },
                 'freshclam': {
                   'UpdateLogFile': '/var/log/clamav/freshclam.log',
                   'PidFile': '/var/run/clamav/freshclam.pid',
                   'DatabaseOwner': 'clamav',
                   'DatabaseMirror': 'database.clamav.net',
                   'NotifyClamd': '/usr/local/etc/clamd.conf',
                   'AllowSupplementaryGroups': yes,
                 },
               },
    'RedHat':  { 'clamd_conf': '/etc/clamd.d/scan.conf',
                 'freshclam_conf': '/etc/freshclam.conf',
                 'clamd': {
                   'LogSyslog': 'yes',
                   'User': 'clamscan',
                   'AllowSupplementaryGroups': yes,
                 },
                 'freshclam': {
                   'LogSyslog': 'yes',
                   'User': 'clamscan',
                   'AllowSupplementaryGroups': yes,
                 },
               },
  }, merge=salt['pillar.get']('clamav:lookup')) %}

{% if grains['os_family'] == 'RedHat' %}
  {% set os_map = salt['grains.filter_by']({
        '7': { 'packages': [ 'clamav-scanner-systemd', 'clamav-update', ],
               'services': [ 'clamd@scan', ], },
      }, grain='osmajorrelease') %}
{% endif %}

{% do default_settings.clamav.update(os_map) if os_map is defined %}

{% do default_settings.clamav.update(distro_map) %}

{% set clamav_settings = salt['pillar.get']('clamav', default=default_settings.clamav, merge=True) %}
