{% import_yaml "lockd/defaults.yaml" as default_settings %}

{# handle operating system version-specific settings first #}
{% if grains['os_family'] == 'RedHat' %}
  {% set os_map = salt['grains.filter_by']({
      '7':       { 'service': 'nfs-lock', },
      'default': { 'service': 'nfslock', },
    }, grain='osmajorrelease') %}
{% endif %}

{% do default_settings.lockd.update(os_map) if os_map is defined %}

{# handle the usual operating system family-specific settings (plus
 # 'lookup' overrides) second #}
{% set distro_map = salt['grains.filter_by']({
    'RedHat':  { 'packages': ['nfs-utils'], },
    'default': {},
  }, merge=salt['pillar.get']('lockd:lookup')) %}

{% do default_settings.lockd.update(distro_map) %}

{% set lockd_settings = salt['pillar.get']('lockd', default=default_settings.lockd, merge=True) %}
