{% import_yaml "amavisd/defaults.yaml" as default_settings with context %}

{% set distro_map = salt['grains.filter_by']({
    'FreeBSD': { 'packages': [ 'amavisd-new', 'net-snmp', 'p5-DBD-SQLite', 'p5-Net-SNMP', 'spamass-rules', 'moreutils', ],
                 'services': [ 'amavisd', 'amavis-p0fanalyzer, 'amavisd-snmp', ],
                 'conffile': '/usr/local/etc/amavisd.conf', },
  }, merge=salt['pillar.get']('amavisd:lookup')) %}

{% do default_settings.amavisd.update(distro_map) %}

{% set amavisd_settings = salt['pillar.get']('amavisd', default=default_settings.amavisd, merge=True) %}
