{% import_yaml "kerberos5/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'packages': ['krb5-user', 'libpam-krb5'], },
    'FreeBSD': {},
    'RedHat':  { 'packages': ['krb5-workstation', 'pam_krb5'], },
    'Suse':    { 'packages': ['krb5-client', 'pam_krb5'],},
    'Solaris': {},
  }, merge=salt['pillar.get']('kerberos5:lookup')) %}

{% do default_settings.kerberos5.update(distro_map) %}

{% set kerberos5_settings = salt['pillar.get']('kerberos5', default=default_settings.kerberos5, merge=True) %}
