{% set accounting = salt['grains.filter_by']({
    'FreeBSD': { 'packages': [],
                 'service':  'accounting', },
    'RedHat':  { 'packages': ['psacct'],
                 'service':  'psacct', },
    'Solaris': { 'packages': [],
                 'service':  'svc:/system/extended-accounting:process', },
  }, merge=salt['pillar.get']('accounting:lookup')) %}
