{% import_yaml "accounting/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'packages': ['acct'],
                 'service':  'acct', },
    'Gentoo':  { 'packages': ['sys-process/acct'], },
    'RedHat':  { 'packages': ['psacct'],
                 'service':  'psacct', },
    'Solaris': { 'service':  'svc:/system/extended-accounting:process', },
    'Suse':    { 'packages': ['acct'],
                 'service':  'acct', },
    'default': {},
  }, merge=salt['pillar.get']('accounting:lookup')) %}

{% do default_settings.accounting.update(distro_map) %}

{% set accounting_settings = salt['pillar.get']('accounting', default=default_settings.accounting, merge=True) %}
