{%- import_yaml "pki/defaults.yaml" as defaults %}

{%- set os_family_map = salt.grains.filter_by({
      'Debian': {
        'packages':
          'ca-certificates',
        'ca_file':
          '/etc/ssl/certs/ca-certificates.crt',
      },

      'FreeBSD': {
        'packages':
          'ca_root_nss',
        'ca_file':
          '/usr/local/share/certs/ca-root-nss.crt',
      },

      'MacOSX': {
        'ca_file':
          '/System/Library/OpenSSL/certs/cert.pem',
      },

      'OpenBSD': {
        'ca_file':
          '/etc/ssl/cert.pem',
      },

      'RedHat': {
        'packages':
          'ca-certificates',
        'ca_file':
          '/etc/pki/tls/certs/ca-bundle.crt',
        'anchor_dir':
          '/etc/pki/ca-trust/source/anchors',
        'update_cmd':
          salt.grains.filter_by({
            '6': 'update-ca-trust enable',
            '7': 'update-ca-trust'
          }, grain='osmajorrelease'),
      },
    }) %}

{%- do defaults.pki.update(os_family_map) %}

{%- set pki = salt.pillar.get(
      'pki',
      default=defaults.pki,
      merge=True
    ) %}
