{% import_yaml "ypbind/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  None,
    'FreeBSD': { 'service':  'ypbind', },
    'RedHat':  { 'packages': ['ypbind'],
                 'service':  'ypbind', },
    'Solaris': { 'packages': ['SUNWnisr', 'SUNWnisu'],
                 'service':  'network/nis/client', },
    'Suse':    None,
  }, merge=salt['pillar.get']('ypbind:lookup')) %}

{% do default_settings.ypbind.update(distro_map) %}

{% set ypbind_settings = salt['pillar.get']('ypbind', default=default_settings.ypbind, merge=True) %}
