{%- macro to_php(value) %}
{%-   if value is sameas true or value is sameas false -%}
{{      "true" if value else "false" }}
{%-   elif value is number -%}
{{      value }}
{%-   elif value is string and '$' in value -%}
{#-     Use double-quoted strings to allow for interpolation. -#}
{{      '"' ~ value ~ '"' }}
{%-   elif value is string -%}
{{      "'" ~ value "'" }}
{%-   elif value is sequence -%}
{%-     set l = [] -%}
{%-     for i in value -%}
{%-       do l.append(to_php(i)) -%}
{%-     endfor -%}
{{      "array('" ~ l|join("', '") ~ "')" }}
{%-   elif value is mapping and mapping|length == 1 and 'literal' in mapping %}
{#-     Write out the key value verbatim. -#}
{{        value['literal'] }}
{%-   elif value is mapping -%}
{%-     for k, v in value|dictsort -%}
{{        "%s%s%s"|format(
            "array(" if loop.first else "",
            "'%s' => %s%s"|format(key, to_php(v), ", " if not loop.last else "") if value is not none else "",
            ")" if loop.last else ""
          ) }}
{%-     endfor -%}
{%-   endif -%}
{%- endmacro -%}

{%- macro generate_moodle_defaults(pluginname, settings) %}
{%-   for settingname, value in settings|dictsort if value is not none %}
$defaults['{{ pluginname }}']['{{ settingname }}'] = {{ to_php(value) }};
{%-   endfor %}
{%- endmacro %}
