{%- macro generate_boto_states(state_module,
                               source_dict,
                               region='',
                               state_id_prefix='',
                               state_id_suffix='',
                               present_function='present',
                               absent_function='absent',
                               no_op_comment='') %}
{%-   set region_prefix = '%s_'|format(region) if region else '' %}
{%-   for name, settings in source_dict|default({})|dictsort %}
{{ '%s%s%s%s'|format(state_id_prefix, region_prefix, name, state_id_suffix)|yaml_encode }}:
{%-     if settings is mapping %}
  {{ state_module }}.{{ present_function }}:
    - name:
        {{ name|yaml_encode }}
{%-       for kwarg, value in settings|dictsort %}
    - {{ kwarg|yaml_encode }}:
        {{ value|yaml_encode if value is string
                             or value is number
                             or value is sameas true
                             or value is sameas false
                             or value is sameas None else
           value|yaml }}
{%-       endfor %}
{%-     else %}
  {{ state_module }}.{{ absent_function }}:
    - name:
        {{ name|yaml_encode }}
{%-     endif %}
{{ caller(name, settings) if caller is defined else '' }}
{%-   else %}
### NB: {{ no_op_comment }}
{%-   endfor %}
{%- endmacro %}
