{%- import_yaml "boto/defaults.yaml" as default_settings %}

{%- set distro_map = salt['grains.filter_by']({
      'FreeBSD': {
        'packages': [
          'py27-boto',
          'py27-boto3',
        ],
      },

      'default': {},
    }) %}

{%- do default_settings.boto.update(distro_map) %}

{%- set boto_settings = salt['pillar.get'](
      'boto',
      default=default_settings.boto,
      merge=True,
    ) %}
