{% import_yaml "statd/defaults.yaml" as default_settings %}

{# handle operating system version-specific settings first #}
{% if grains['os_family'] == 'RedHat' %}
  {% set os_map = salt['grains.filter_by']({
      '7':       { 'service': 'nfs-lock', },
      'default': { 'service': 'nfslock', },
    }, grain='osmajorrelease') %}
{% endif %}

{% if os_map is defined %}
  {% do default_settings.statd.update(os_map) %}
{% endif %}

{# handle the usual operating system family-specific settings (plus
 # 'lookup' overrides) second #}
{% set distro_map = salt['grains.filter_by']({
    'RedHat':  { 'packages': ['nfs-utils'], },
    'default': {},
  }, merge=salt['pillar.get']('statd:lookup')) %}

{% do default_settings.statd.update(distro_map) %}

{% set statd_settings = salt['pillar.get']('statd', default=default_settings.statd, merge=True) %}
