{%- import_yaml "emacs/defaults.yaml" as default_settings %}

{%- set distro_map = salt['grains.filter_by']({
      'Debian': {
        'ppa':
          'kelleyk/emacs',
        'packages': [
          'emacs26',
        ],
      },

      'Solaris': {
        'packages': [
          'gnu-emacs',
        ],
      },

      'default': {},
    }) %}

{%- do default_settings.emacs.update(distro_map) %}

{%- set emacs = salt['pillar.get'](
      'emacs',
      default=default_settings.emacs,
      merge=True
    ) %}
