{% import_yaml "emacs/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  {},
    'FreeBSD': { 'packages': [ 'emacs24', ], },
    'RedHat':  {},
    'Suse':    {},
    'Solaris': { 'packages': [ 'gnu-emacs', ], },
    'Windows': {},
  }, merge=salt['pillar.get']('emacs:lookup')) %}

{% do default_settings.emacs.update(distro_map) %}

{% set emacs_settings = salt['pillar.get']('emacs',
    default=default_settings.emacs, merge=True) %}
