{% import_yaml "webhooks/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  {},
    'FreeBSD': { 'packages': [ 'py27-Flask', 'py27-ipaddr', 'py27-requests', ], },
    'RedHat':  {},
  }, merge=salt['pillar.get']('webhooks:lookup')) %}

{% do default_settings.webhooks.update(distro_map) %}

{% set webhooks_settings = salt['pillar.get']('webhooks', default=default_settings.webhooks, merge=True) %}
