## for example, on a FreeBSD Salt master, using the apache SLS from
## this repository and the salt.master SLS from salt-formula
apache:
  packages:
    - apache24
    - ap24-mod_wsgi3
  modules:
    wsgi: {}
  sites:
    salt.example.com:
      VirtualHost *:80:
        ServerName: salt.example.com
        ServerAdmin: webmaster@example.com
        IfModule redirect_module:
          Redirect permanent /: http://salt.example.com:443/
      IfModule ssl_module:
        VirtualHost *:443:
          ServerName: salt.example.com
          ServerAdmin: webmaster@example.com
          SSLEngine: on
          SSLCertificateFile: /usr/local/etc/apache24/certs/salt.example.com.cert
          SSLCertificateKeyFile: /usr/local/etc/apache24/keys/salt.example.com.key
          IfModule wsgi_module:
            WSGIDaemonProcess: webhooks user=www group=www processes=2 threads=5
            WSGIScriptAlias: /webhooks /opt/webhooks/webhooks.py
            Directory /opt/webhooks:
              WSGIProcessGroup: webhooks
              WSGIApplicationGroup: '%{GLOBAL}'
              Require all: granted
  keypairs:
    salt.example.com:
      certificate: |
        -----BEGIN CERTIFICATE-----
        ...
        -----END CERTIFICATE-----
      key: |
        -----BEGIN PRIVATE KEY-----
        ...
        -----END PRIVATE KEY-----
