{% import_yaml "nis/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'client_packages': [ 'nis', ], },
    'FreeBSD': { },
    'RedHat':  { 'client_packages': [ 'ypbind' ], },
  }, merge=salt['pillar.get']('ypbind:lookup')) %}

{% do default_settings.nis.update(distro_map) %}

{% set nis_settings = salt['pillar.get']('nis', default=default_settings.nis, merge=True) %}
