{% import_yaml "jetty/defaults.yaml" as default_settings %}

{% set distro_map = salt['grains.filter_by']({
    'Debian':  { 'prefix': '/usr/share/jetty',
                 'packages': [ 'jetty8', ], },
    'FreeBSD': { },
    'RedHat':  { 'from_source': True,
                 'prefix': '/opt/jetty',
                 'packages': [ 'java-1.8.0-openjdk-devel.x86_64', ], },
  }, merge=salt['pillar.get']('jetty:lookup')) %}

{% do default_settings.jetty.update(distro_map) %}

{% set jetty_settings = salt['pillar.get']('jetty'), default=default_settings.jetty, merge=True) %}
